@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");

/* Root Setup */
:root {
  --lg-font: "Raleway", serif;
  --sm-font: "Roboto", serif;
  --darker: #222831;
  --dark: #393e46;
  --teal: #00adb5;
  --lightgray: #eeeeee;
  --skintone: #e1a782;
  --bloodred: #ff0101;
  --softshadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--lg-font);
  background-color: white;
}

h2 {
  color: var(--darker);
  font-size: 2rem;
}
p {
  color: var(--darker);
}
ul {
  list-style-type: none;
}

.btn {
  background-color: var(--teal);
  box-shadow: var(--softshadow);
  color: var(--lightgray);
}
.navbar {
  background-color: var(--darker);
}
.nav-link:hover {
  color: var(--teal) !important;
}

.navbar-brand img {
  width: 75px;
}
.smIcon {
  color: whitesmoke;
}
.smIcon:hover {
  color: var(--teal);
}
/* End Nav */
/* Banner */
#banner {
  background: url(/assets/images/bg.jpg) top/cover;
}

#banner h1 {
  color: var(--darker);
  font-size: 6rem;
}
#banner p {
  color: var(--darker);
  font-size: 2rem;
}
#banner h1 span.nails {
  color: var(--skintone) !important;
}
#banner h1 span.love {
  color: var(--bloodred) !important;
}

@media screen and (max-width: 480px) {
  #banner h1 {
    font-size: 3rem;
  }
  #banner p {
    font-size: 0.5rem;
  }
}

#gallery {
  background: url(/assets/images/5.png) top/cover;
  height: 100vh;
}

.card {
  /* width: 20rem; */
  height: 550px;
  background-color: var(--teal);
  text-align: center;
}

.footer {
  background-color: var(--dark);
}

.footer .copyright {
  background-color: var(--darker);
}
