@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");

/* Root Setup */
:root {
  --lg-font: "Raleway", serif;
  --sm-font: "Roboto", serif;
  --darker: #222831;
  --dark: #393e46;
  --teal: #00adb5;
  --lightgray: #eeeeee;
  --skintone: #e1a782;
  --bloodred: #ff0101;
  --softshadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--lg-font);
  background-color: white;
  color: var(--darker);
}

ul {
  list-style-type: none;
}
.hr {
  background-color: var(--teal);
  height: 1rem;
}

.btn {
  background-color: var(--teal);
  box-shadow: var(--softshadow);
  color: var(--lightgray);
}

/* Utilities */

/* Navbar */

.navbar {
  background-color: var(--darker);
}
.nav-link:hover {
  color: var(--teal) !important;
}

.navbar-brand img {
  width: 75px;
}
.smIcon {
  color: whitesmoke;
}
.smIcon:hover {
  color: var(--teal) !important;
}
/* End Nav */

/* Banner */
#banner {
  background: url(/assets/images/bg.jpg) top/cover;
}

#banner h1 {
  padding-top: 2rem;
  color: var(--darker);
  font-size: 6rem;
}
#banner p {
  color: var(--darker);
  font-size: 2rem;
}
#banner img {
  width: 50%;
}
span.nude {
  color: var(--skintone) !important;
}
span.red {
  color: var(--bloodred) !important;
}
span.darker {
  color: var(--darker);
}

@media screen and (max-width: 480px) {
  #banner {
    padding-bottom: 2rem;
  }

  #banner h1 {
    padding-top: 2rem;
    font-size: 3.5rem;
  }
  #banner p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .img-hands img {
    visibility: visible;
  }
}

/* Services Main */
.services_main {
  background-color: var(--skintone);
  color: var(--lightgray);
}

.services_main .card {
  color: var(--darker);
  text-align: center;
  margin-bottom: 3rem;
  margin-top: -1.5rem;
}

.service-title {
  border-radius: 15px !important;
  border: solid 3px var(--lightgray);
}

.card a {
  color: var(--darker) !important;
}
.card a:hover {
  color: var(--skintone) !important;
}

/* End Service Main */

#gallery {
  background: url(/assets/images/5.png) top/cover;
  height: 100vh;
}

.product-collections .card {
  /* width: 20rem; */
  height: 550px;
  background-color: var(--teal);
  text-align: center;
}

.footer {
  background-color: var(--dark);
}

.footer .copyright {
  background-color: var(--darker);
}
